:root{
    --cor-azul-escuro:#006270;
    --cor-azul-medio:#009394;
    --cor-azul-medio:#00E0C7;
    --cor-branca:#FFFFFF;
    --cor-branca:#1c1c1c;
    --cor-cinza-background: #f1f1f1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    background: rgb(0,98,112);
    background: linear-gradient(160deg, rgba(0,98,112,1) 25%, rgba(0,147,148,1) 50%, rgba(0,224,199,1) 75%);

    color: #FFFFFF;
    padding-bottom: 50px;
}
.container .titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-size: 24px;
}
.container .saldo p{
    font-size: 20px;
}
.container .titulo h2{
    font-weight: 600;
    font-size: 40px;
}
.container .saldo{
    width: 100%;
    padding: 10px 40px;
}
.container .saldo #saldo{
    font-size: 50px;
    font-weight: 600;
}
.container .saldo p button{
    margin-left: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.lista{
    width: 100%;
    height: 100%;
    background-color: var(--cor-cinza-background);
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -40px;
    padding: 40px 20px;
}
.lista .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.lista .inputs #nomeConta, #valorConta, #dataConta[type="date"]{
    font-size: 18px;
    width: 100%;
    border: none;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    font-size: 24px;
    color: #353535
    ;
}
.lista .inputs #nomeConta:hover, #valorConta:hover, #dataConta:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}
.lista .inputs button{
    width: 130px;
    height: 45px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    background-color: #009394;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.lista .inputs button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    background-color: #007878;
}
.titulohistorico{
    color: #767676;
    padding-top: 20px;
}
#listaContas label{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 20px;
}
#listaContas label:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}
#listaContas label .checklabel{
    display: flex;
    justify-content: center;
}
#listaContas label .checklabel input{
    width: 20px;
}
#listaContas label .textlabel{
    width: 75%;
}
#listaContas label .botaolabel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#listaContas label .botaolabel button{
    background-color: #009394;
    height: 50px;
    padding: 0px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#listaContas label button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    background-color: #007878;
}
#listaContas label input{
    width: 20px;
}
.ghost {
    opacity: 0.5;
    background-color: #ccc;
}